{% extends "base.html" %}
{% import "partials/_macros.html" as ui %}
{% block title %}Chat · {{ title }}{% endblock %}
{% block content %}
<header>
  <nav>
    <ul>
      <li></li>
    </ul>
    <ul>
      <li><button hx-get="/chat/">New Chat</button></li>
    </ul>
  </nav>
</header>

<section id="messages">
  {% for message in messages %}
  {{ ui.render_message(message.role, message.content) }}
  {% endfor %}
</section>

<article class="chat-input">
  <form id="chat-form" hx-post="/chat/">
    <label>
      Your message
      <textarea name="text" placeholder="Type a message..." required></textarea>
    </label>
    <button type="submit">Send</button>
  </form>
</article>
{% endblock %}